.wrapper {
  margin: 20px;
  background-color: white;
}
.layout {
  background-color: white !important;
}
.footerWrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  // background-color: white !important;
}
.formElement {
  padding-bottom: 5%;
}
